@model WebUI.Models.BlurbsListViewModel
@{
    ViewBag.Title = "All blurbs";
}

<h2>List</h2>


@foreach (var item in Model.Blurbs)
{
    Html.RenderPartial("BlurbSummary",item);
}
@Html.PageLinks(Model.pagingInfo,x=>Url.Action("List",new {category=Model.CurrentCategory, page=x }))

