@model WebUI.Models.ProductListViewModel
@{
    ViewBag.Title = "All blurbs";
}

<div id="categories">
    @Html.ActionLink("Home", "List", "Product")

    @foreach (var link in Model.Categories)
    {
        @Html.RouteLink(link, new
        {
            controller = "Product",
            action = "List",
            category = link,
            page = 1
        },
         new { @class = link == Model.CurrentCategory ? "currentCategory" : null });
    }
</div>

<div id="content">
    @foreach (var item in Model.Blurbs)
    {
        Html.RenderPartial("ProductSummary", item);
    }
    @Html.PageLinks(Model.pagingInfo, x => Url.Action("List", new { category = Model.CurrentCategory, page = x }))
</div>
